<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.virtualschool.dao.AssignmentMapper">


    <insert id="addAssignment" keyProperty="id">
        insert into assignment (title, content)
        values (#{title}, #{content})
    </insert>
    <insert id="insertAssignmentAnswer">
        insert into assignment_answer(answer, id, user_id)
        values(#{answer}, null , #{userId})
    </insert>
    <update id="markAnswers">
        update assignment_answer
        set comment = #{comment}, score = #{score}, user_id = #{userId}
        where id = #{id}
    </update>
    <select id="showAssignment" resultType="assignment">
        select * from assignment
    </select>
    <select id="showAssignmentAnswers" resultType="com.edu.virtualschool.entity.AssignmentAnswer">
        select * from  assignment_answer
    </select>
    <select id="showAssignmentResult" resultType="assignmentAnswer">
        select * from assignment_answer
        where user_id = #{userId}
    </select>


</mapper>